<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>232323236283-1v2o1m9nmeit6jterujvk5ooo4t69o6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232323236283-1v2o1m9nmeit6jterujvk5ooo4t69o6a</string>
	<key>API_KEY</key>
	<string>AIzaSyAyKA-SRzwq1d_DO8UnfeqA7R0U3WRUfx8</string>
	<key>GCM_SENDER_ID</key>
	<string>232323236283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.superstudio.Meemo</string>
	<key>PROJECT_ID</key>
	<string>meemo-testing</string>
	<key>STORAGE_BUCKET</key>
	<string>meemo-testing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:232323236283:ios:a7ce88b900bcc7f9</string>
	<key>DATABASE_URL</key>
	<string>https://meemo-testing.firebaseio.com</string>
</dict>
</plist>