<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1081837138644-ht234lrat7cm8a24r5du8p7qn86hm72b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081837138644-ht234lrat7cm8a24r5du8p7qn86hm72b</string>
	<key>API_KEY</key>
	<string>AIzaSyAu-_MefmR902CA4wXaL-fBtE_cA-UZV_k</string>
	<key>GCM_SENDER_ID</key>
	<string>1081837138644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.superstudio.Meemo</string>
	<key>PROJECT_ID</key>
	<string>meemo-external-test</string>
	<key>STORAGE_BUCKET</key>
	<string>meemo-external-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081837138644:ios:a7ce88b900bcc7f9</string>
	<key>DATABASE_URL</key>
	<string>https://meemo-external-test.firebaseio.com</string>
</dict>
</plist>